body {
 background-color: azure;
}

h1 {
 text-align: center;
 font-size: 80px;
}
#pic {
float: left;
width: 250px;
Height: 200px;
}
p { 
 margin: 40px;
 font-size: 28px;
}

h2 {
 text-align: center;
 font-size: 60px;
}

ul {
 margin: 40px;
 font-size: 28px;
}

dl {
 margin: 40px;
 font-size: 28px;
}





 