	body, h1, h2, h3, p, img, ul, li{
		border:0; margin:0; padding:0;
	}
	* {
	box-sizing: border-box;
	}
	
	@media screen and (max-width: 480px) {

body{   
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 20% auto auto auto 10%;
		background:#eaf8fb;	
		font-family:Arial, Helvetica, sans-serif; 
		font-size:100%;
	}
		
	p{
		letter-spacing:.04rem; 
		line-height:21px; 
	}
		
	div#header{
		display: grid;
		grid-column-start: 1;
 		 grid-column-end: 2;
  		grid-row-start: 1;
  		grid-row-end: 2;
		background-color:#333; 
		background-image:url(images/headerbkgd.png);
		background-repeat:no-repeat;
		background-position:left bottom;
		color:#fff;	
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		margin:0 auto; 
		min-height:130px;	
		padding:5% 1.666666667% 1.66666667%;	
		width: 100%;	
		
	}
		
	ul.navigation {
		list-style:none;	
		margin-top:20px;
		overflow: auto;	
	}
					
	ul.navigation li{
		display:inline-block; 
		margin:0 3px 5px;
		overflow: auto;	
	}
					
	ul.navigation li a{
		background:#4a4a4a;	
		color:#fff;	
		-moz-border-radius:2px; 
		webkit-border-radius:2px; 
		border-radius:2px;	
		border:1px solid #595959; 
		padding:3px 10px;	
		text-decoration:none; 
	}
						
	ul.navigation li a:hover{
		background-color:#000;
		
	}
	
	div.content{
		display:grid;
		grid-column-start: 1; 
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 4;
		margin:15px auto;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width:100%;
	}
				
	div.col-right{
		display: grid;
		grid-column-start: 1;
  		grid-column-end: 2;
  		grid-row-start: 2;
  		grid-row-end: 3;
		width:100%;
		padding-bottom: 2.5%;
		}
		
	div.sidebar-left{
		display: grid;
		grid-column-start: 1;
  		grid-column-end: 2;
  		grid-row-start: 3;
  		grid-row-end: 4;
		padding:0 10px;
		width:100%;	
		}
		
	div.sidebar-left a{
		color:#445e64;	
	}
	
	div.sidebar-left a:hover{
		text-decoration:none
	}	
	
	.list{
		border-bottom:1px solid #c3dce1; 
		padding:0 0 20px 15px;	
	}
	.list li{
		margin-bottom:10px
	}
	.list li a{
		font-weight:bold;	
		text-transform:uppercase;
		font-size:11px;
	}
				
	div#footer{
		display: grid;
		grid-column-start: 1;
 		 grid-column-end: 2;
  		grid-row-start: 4;
  		grid-row-end: 5;
		background-color:#c4d5d9;
		animation-name: footerAnimation;
		animation-duration: 8s;
		animation-iteration-count: infinite;	
		margin:0 auto;
		padding:15px;
		text-align:center;
		width:100%;
	}
		
	@keyframes footerAnimation{
		0% {background-color:#c4d5d9;}
		25% {background-color:#f08080;}
		50% {background-color:#48d1cc;}
		75% {background-color:#fdf5e6;}
		100% {background-color:#c4d5d9;}
	}
}

	@media screen and (min-width: 481px) { 
	
	body{   
		display: grid;
		grid-template-columns: 25% auto;
		grid-template-rows: 25% auto 10%;
		background:#eaf8fb;	
		font-family:Arial, Helvetica, sans-serif; 
		font-size:100%;
	}
		
	p{
		letter-spacing:.04rem; 
		line-height:21px; 
	}
		
	div#header{
		display: grid;
		grid-column-start: 1;
 		 grid-column-end: 3;
  		grid-row-start: 1;
  		grid-row-end: 2;
		background-color:#333; 
		background-image:url(images/headerbkgd.png);
		background-repeat:no-repeat;
		background-position:left bottom;
		color:#fff;	
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		margin:0 auto; 
		min-height:130px;	
		padding:5% 1.666666667% 1.66666667%;	
		width: 100%;	
		
	}
		
	ul.navigation {
		list-style:none;	
		margin-top:20px;
		overflow: auto;	
	}
					
	ul.navigation li{
		display:inline-block; 
		margin:0 3px 5px;
		overflow: auto;	
	}
					
	ul.navigation li a{
		background:#4a4a4a;	
		color:#fff;	
		-moz-border-radius:2px; 
		webkit-border-radius:2px; 
		border-radius:2px;	
		border:1px solid #595959; 
		padding:3px 10px;	
		text-decoration:none; 
	}
						
	ul.navigation li a:hover{
		background-color:#000;
		
	}
	
	div.content{
		display:grid;
		grid-column-start: 1; 
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		margin:15px auto;
		width:100%;
	}
				
	div.col-right{
		display: grid;
		grid-column-start: 2;
  		grid-column-end: 3;
  		grid-row-start: 2;
  		grid-row-end: 3;
		width:660px
		}
		
	div.sidebar-left{
		display: grid;
		grid-column-start: 1;
  		grid-column-end: 2;
  		grid-row-start: 2;
  		grid-row-end: 3;
		padding:0 10px;
		width:200px;	
		}
		
	div.sidebar-left a{
		color:#445e64;	
	}
	
	div.sidebar-left a:hover{
		text-decoration:none
	}	
	
	.list{
		border-bottom:1px solid #c3dce1; 
		padding:0 0 20px 15px;	
	}
	.list li{
		margin-bottom:10px
	}
	.list li a{
		font-weight:bold;	
		text-transform:uppercase;
		font-size:11px;
	}
				
	div#footer{
		display: grid;
		grid-column-start: 1;
 		 grid-column-end: 3;
  		grid-row-start: 3;
  		grid-row-end: 4;
		background-color:#c4d5d9;
		animation-name: footerAnimation;
		animation-duration: 8s;
		animation-iteration-count: infinite;		
		margin:0 auto;
		padding:15px;
		text-align:center;
		width:100%;
	}
		@keyframes footerAnimation{
		0% {background-color:#c4d5d9;}
		25% {background-color:#f08080;}
		50% {background-color:#48d1cc;}
		75% {background-color:#fdf5e6;}
		100% {background-color:#c4d5d9;}
	}
}
 
	img {max-width: 100%;}
